<!DOCTYPE html>
<html lang="en">
    <head>
        <title><font face="verdana" color="green">GourmetBurgers Orders</font></title>
        <h1><font face="verdana" color="green">GourmetBurgers Orders</font></h1>
    </head>
    <body>
        <form method="POST">
        <h3>This is your assigned order. <br>
            Press complete to finish the order and be assigned your next order.
        </h3>
        {% if orders %}

            {%for ele in orders %}
            Order ID: {{ele.number}}<br>
            {% for ele2 in ele.foods %}
            Foods:
            {{ele2.name}}<br>
            Price:
            {{ele2.unitPrice}}<br>
            Quantity:
            {{ele2.quantity}}<br>

            {% endfor%}
            Order Price:
            {{ele.price}}<br>
            Order Status
            {{ele.status}}<br>
            {% endfor%}
            {{order}} <br>
            <button type="submit" name="complete" value="complete">Complete</button>
        {% else %}
            <p>No orders assigned yet, please refresh to see if you are assigned an order.</p>
            <button type="submit" name="checkOrders" value="checkOrders">Refresh</button>

        {% endif %}
    </form>
    </body>
</html>