<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GourmetBurgers</title>
        <h1><font face="verdana" color="green">GourmetBurgers</font></h1>
    </head>
    <body>
        <!-- Tab Menu -->
        <h4>Navigation</h4>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('pre_order') }}">Ordering</a></li>
            <li><a href="{{ url_for('manageInventory') }}">Inventory</a></li>
            <li><a href="{{ url_for('viewOrders') }}">View Orders</a></li>
        </ul>
        <!-- Main Content -->
        {% block content %}{% endblock %}
        <br>
    </body>
</html>