{% extends 'base.html' %}
{% content block %}
<h3>
    Here is your order. Once you have reviewed your order, <br>
    please click on 'Pay now'.
</h3>
<div>
<form>
    <p> You have ordered the following.
        {{main}} with {{mainBunNo}} {{mainBun}} buns and <br>
        {{mainPattyNo}} {{mainPatty}}s. <br>
        {% if ingredients %}
                Extra ingredients:
            <ul>
            {% for item in ingredients %}
                <li>item</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if sides %}
            Sides:
            <ul>
            {% for item in sides %}
                <li>item</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if drinks %}
            Drinks:
            <ul>
            {% for item in drinks %}
                <li>item</li>
            {% endfor %}
            </ul>
        {% endif %}
        Total price: <input type="number" name="price" value="{{ price }}" readonly> <br>
    </p>
    <label>Click to pay:</label>
    <button type="submit" name="pay" value="pay">Pay Now</button> <br>
</form>
<label>Click below to re-do your order</label>
<p><a href="customise.html">Go back</a></p>
</div>
{% endblock %}