<!-- To do (if time allows):
+ Add description to the base burger and base wrap
+ Put in prices
-- Description of this file --
Provides a user with a choice between base burger, base wrap or customise an order.
Selecting base burger or base wrap and submitting will reveal the option to pay.
Upon payment, redirect to 'confirmation.html' page.
Customer may select another option and sumbit to change their option.
Submitting with 'customise' option will redirect to 'customise.html' page.
-->


(% extends 'base.html' %)
(% content block %)
<p>
    In a hurry? Don't worry. You may select either base burger or base wrap and
    we'll start making a burger or wrap in no time. A base burger or base wrap already
    has its contents pre-determined so you don't have to spend time customising.
    Otherwise, select customise to start ordering.
</p>
<form method="post">
    <p>These are our base items.</p>
    <div>
        <input type="radio" name="pre_order" value="base_burger">
        <label>Base burger - $2</label> <br>
    </div>
    <div>
        <input type="radio" name="pre_order" value="base_wrap">
        <label>Base wrap - $4</label> <br>
<!--
    </div>
    <p>Press 'Pay Now' to order your base item</p>
        <button type="submit" value="pay">Pay Now</button>
    <div>
        <p>Otherwise, select 'customise' and submit to start creating</p>
-->
        <label>Customise</label> <br>
        <input type="radio" name="pre_order" value="customise"> Customise
    </div>
    <button type="submit" name="next" value="next">Submit</button>
</form>

{% if message %}
<p><font size="3" color="red">Error: "Submit" is only for customising, "Pay Now" is only for ordering base items.</font></p>
{% endif %}
{% endblock %}
