{% extends 'base.html' %}
{% block content %}
<h3>
    Here is your order. Thank you for ordering at GourmetBurgers. <br>
    We hope you enjoy your creation.
</h3>
<h4>Your Order ID: {{orderID}}</h4>
<div>
    <p> You have ordered the following.
        {{main}} with {{bun_no}} {{bun_type}} buns and {{patty_type}} {{patty_no}} <br>
        {% if ingredients %}
                Extra ingredients:
            <ul>
            {% for item in ingredient %}
                <li>{{item}}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if sides %}
            Sides:
            <ul>
            {% for item in sides %}
                <li>{{item}}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if drinks %}
            Drinks:
            <ul>
            {% for item in drinks %}
                <li>{{item}}</li>
            {% endfor %}
            </ul>
        {% endif %}
        Total price: ${{price}} <br>
    </p>
<form>
    <label>Click to refresh the page and see if your order is ready:</label>
    <button type="submit" name="next" value="next">Refresh page</button> <br>
</form>
    <h4>Your order status: <font size="3" color="blue">{{status}}</font></h4>
</div>
{% endblock %}